<form>
    {{#each order}}
        <label>{{this.startDate}}</label><br>
        <label>{{this.endDate}}</label><br>
        <label>{{this.status}}</label><br>
        <label>{{this.totalPrice}}</label><br>
        <label>{{this.carId}}</label><br><br>

    {{/each}}


</form>