<div class="topnav">
    <a href="/home">Home</a>
    <a href="/users/rented">Rented Car</a>
    <a href="/users/history">Past Rented Cars</a>
    <a href="/users/posted">My Cars</a>
    <a href="/users/orders">Orders</a>
    <a href="/users/saved" id="saved-id">Saved Cars</a>
    <a href="/users/profile" id="profile-id">Profile</a>
    <a href="/users/editUser" id="edit-id">Edit Profile</a>
    <a href="/cars/createCar" id="car-id">Post Car</a>
    <a href="/users/logout" id="logout-id">Logout</a>
</div>

<div id="allTheReviewsByUser">
    
    <h1>Your All Reviews</h1>
    {{#if reviews.length}}
        {{#each reviews}}
            <form  method="POST" action="/reviews/delete/{{_id}}">
                <label>Name: {{carName}} </label> <br>
                <label>Rating: {{rating}} </label> <br>
                <label>Comment: {{comment}} </label><br>
                {{#if lenderReply.length}}
                    <label>Owner Reply: {{lenderReply}}> </label><br>
                {{else}}
                {{/if}}
                <input type="submit" value="Delete Review"/>
            </form>
        {{/each}}
    {{else}}
        <h1>No Reviews left to delete....</h1>
    {{/if}}
   
</div>